<h4><center><%= link_to "Create New Wiki", new_wiki_path, { class:"btn btn-warning btn-large"} %><center></h4>

<h1><center>All Wikis </center></h1>
<center>

<% if current_user.admin? || current_user.premium?  %>
  <%= render partial: 'wiki', collection: @private_wikis %>
<% end %>

<%= render partial: 'wiki', collection: @public_wikis + @collaborate_wikis %>
</center>
