<h4><center><%= link_to "Create New Wiki", new_wiki_path, { class:"btn btn-warning btn-large"} %><center></h4>

<h1><center>All Wikis </center></h1>
<center>

  # if current_user.admin? || current_user.premium? see all
  # else see only public

<% if current_user.admin? || current_user.premium? && @wiki.private? %>
  <% @wikis.each do |wiki| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <% link_to wiki.title, post %>
        </h4>
      </div>
    </div>

<% end %>


  <% @public_wikis.each do |wiki| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to wiki.title, post %>
        </h4>
      </div>
    </div>

  <% end %>
<% end %>
</center>
